<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.dao.SeatMapper">
    <resultMap id="seatResultMap" type="kr.or.ddit.vo.SeatVo">
        <result property="seatNo" column="SEAT_NO" />
        <result property="seatRow" column="SEAT_ROW" />
        <result property="seatCol" column="SEAT_COL" />
        <result property="seattypeCode" column="SEATTYPE_CODE" />
        <result property="roomType" column="ROOM_TYPE" />
        <result property="seattypeName" column="SEATTYPE_NAME" />
        <result property="seattypePrice" column="SEATTYPE_PRICE" />
        <result property="schNo" column="SCH_NO" />
        <result property="soldout" column="SOLDOUT" />
    </resultMap>

    <select id="getAvailableSeats" parameterType="String" resultMap="seatResultMap">
        SELECT 
            S.SEAT_NO,
            S.SEAT_ROW,
            S.SEAT_COL,
            S.SEATTYPE_CODE,
            ST.SEATTYPE_NAME,
            ST.SEATTYPE_PRICE,
            RS.SCH_NO,
            RS.SOLDOUT
        FROM 
            SEAT S
        JOIN 
            RESERVED_SEAT RS ON S.SEAT_NO = RS.SEAT_NO
        JOIN 
            SEAT_TYPE ST ON S.SEATTYPE_CODE = ST.SEATTYPE_CODE
        WHERE 
            RS.SCH_NO = #{scheduleNo}
        ORDER BY 
            S.SEAT_ROW, S.SEAT_COL
    </select>
</mapper>
