<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.dao.TheaterMapper">
    <select id="getTheatersByRegion" resultType="TheaterVO">
        SELECT 
            SPOT_CODE AS spotCode,
            SPOT_NAME AS spotName,
<!--             SPOT_SITE AS spotSite, -->
            REG_NO AS regNo
<!--             MNG_NO AS mng_No, -->
        FROM 
            SPOT
        WHERE 
            REG_NO = #{regNo}
    </select>
</mapper>
